/*
Cesar Guerrero
11/25/22
CS55000 - Fall 2022
Team 12 - Final Project

I wanted to create a custom CSS sheet to hold all of the CSS for the admin-related items

*/

/* ALL OF THE CSS THAT FOLLOWS IS FOR THE LOGIN PAGE */
.fse-login-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

