/*
Cesar Guerrero
11/25/22
CS55000 - Fall 2022
Team 12 - Final Project
I wanted to create a custom CSS sheet to hold all of the CSS for the admin-related items
*/

/*HELPFUL CSS FOR ALL OF ADMIN ELEMENTS*/
.fse-twitter-color{
    color: #1da1f2;
}

.fse-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}


/* ALL OF THE CSS THAT FOLLOWS IS FOR THE LOGIN PAGE */
.fse-login-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.btn.fse-login-button{
    display:block;
    color: white;
    background-color: #1da1f2;
    padding: 6px 12px;
    margin: 6px auto;
    width: 50%;
}

/* ALL OF THE CSS THAT FOLLOWS IS FOR THE ADMIN NAVBAR */
.btn.fse-navbar-button{
    display:block;
    color: white;
    background-color: #1da1f2;
    padding: 6px 12px;
    margin: 12px auto;
    width: 75%;
}

.fse-navbar-links{
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding: 12px 0px;
}

/* ALL THE CSS THAT FOLLOWS IS FOR THE TABLES AND FORMS */
.fse-table-font-size{
    font-size:14px;
}

.btn.fse-update-button{
    color: white;
    background-color: #1da1f2;
    padding: 6px 12px;
    margin: 0px 16px;
    width: 25%;
}

.btn.fse-delete-button{
    color: white;
    background-color: red;
    padding: 6px 12px;
    margin: 0px 16px;
    width: 25%;
}

/* ALL THE CSS THAT FOLLOWS IS FOR THE ADMIN STATS */


/* ALL THE CSS THAT FOLLOWS IS FOR TUIT MODAL */